node_modules

UnityPlayer.dll
winhttp.dll
doorstop_config.ini

.modsync
*.zip
*.log
*.exe
*.ogg
*.bundle
*.js.map

Development

EscapeFromTarkov_Data
SPT_Data
Logs
MonoBleedingEdge
NLog

user/cache
user/launcher
user/sptappdata

user/*.disabled
user/*.perso
user/*.saved
user/*.wtt

BepInEx/cache
BepInEx/core

BepInEx/*.disabled
BepInEx/*.perso
BepInEx/*.saved
BepInEx/*.wtt

user/mods/SPT-Realism/ProfileBackups
BepInEx/plugins/Realism/data/hazard_tracker.json

BepInEx/plugins/DanW-SPTQuestingBots/log

user/mods/fika-server/cache
